<!--registration/templates/password_reset_done.html-->
{% extends "popup.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-body">


                <p>Nous vous avons envoyé par e-mail des instructions pour redéfinir votre mot de passe. Si un compte
                    existe
                    avec l'e-mail que vous avez entré, vous devriez les recevoir sous peu.</p>

                <p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes
                    inscrit et
                    vérifiez votre dossier spam.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}