<!--templates/registration/password_reset_confirm.html-->
{% extends "registration/auth_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-body">

        {% if validlink %}

        <p>Veuillez saisir votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez correctement saisi.</p>

        <form method="post">{% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-block">Changez votre Mot de passe</button>

        </form>

        {% else %}

        <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander un nouveau mot de passe réinitialisé.</p>

        {% endif %}
    </div>
</div>
{% endblock %}