{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid col-3">
  <div>
    <a href="{% url 'configmail_create' %}">
      <button class="btn btn-success" style="font-size: 0.7rem;"><img src="{% static 'img/ajouter.png' %}"
          height="12px"> Ajout d'une configuration Email</button>
    </a>
  </div>

  <table class="table table-light table-striped p0">
    <div class="table-responsive">
      <table class="table table-light align-center table-striped table-hover" style="font-size: 0.7rem;">
        <thead class="table-success">
          <tr>
            <th>Société</th>
            <th>Hébergeur</th>
            <th>Protocole</yth>
          </tr>
        </thead>

        <tbody>
          {% for configmail in configmail_list %}
          <tr>
            <td style="width: 45%">
              <a href="#"
                onClick="javascript:popup('{% url 'configmail_update' configmail.id %}','configmail_update',600,560)">
                {{ configmail.nom_societe }}
              </a>
            </td>
            <td style="width: 45%">{{ configmail.hebergeur_mail_id }}</td>
            <td style="width: 10%">{{ configmail.protocole }}</td>

            <td style="width: 2%">
              <a href="#"
                onClick="javascript:popup('{% url 'configmail_update' configmail.id %}','configmail_update',600,560)">
                <img src="{% static 'img/modifier.png' %}" height="15px">
              </a>
            </td>
            <td style="width: 2%"><a href="#"
                onClick="javascript:popup('{% url 'configmail_delete' configmail.id %}','configmail_delete',500,250)"><img
                  src="{% static 'img/supprimer.png' %}" height="15px"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </table>

</div>

{% endblock content %}